h1 {
    font-family: 'Roboto Mono', monospace;
    color: black;
    text-align: center;
    font-size: 48px;
}

.something {
    text-align: center;
    font-size: 24px;
}

nav {
    font-size: 24px;
    text-align: right;
    margin: 2px;
}

.project1 {
    font-size: 24px;
}